#signInDiv {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mdl-textfield__input {
    margin: 0 auto;
}

h5 {
    font-size: 18px;
}

.fa {
    font-size: 50px;
}

#sidebar {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: #308A88;
    text-align: center;
}

ul {
    text-align: center;
}

main {
    position: absolute;
    left: 0;
    top: 480px;
    margin: 10px;
}

hr {
    margin: 0 auto;
    width: 50%;
}

.incorrectLogin {
    padding-top: 10px;
    color: maroon;
}

@media (min-width: 874px) {
    #signUpDiv{
        margin-left: 100px;
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 210px;
        height: 100%;
        text-align: center;
        padding: 0px 20px 0px 20px;
        padding-top: 50px;
    }
    main {
        top: 0;
        position: absolute;
        left: 250px;
        margin: 30px;
    }
}

.help-block {
    color: red;
    padding: 0;
    margin: 0;
}

.sign-in-form {
    text-align: center;
}

.list-item {
  width: 210px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.centerText {
    text-align: center;
}