#signInDiv {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mdl-textfield__input {
    margin: 0 auto;
}

h5 {
    font-size: 18px;
}

.fa {
    font-size: 50px;
}

#sidebar {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    background-color: #308A88;
    text-align: center;
}

ul {
    text-align: center;
}

main {
    position: absolute;
    display: block;
    top: 480px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
}

hr {
    margin: 0 auto;
    width: 50%;
}

.leaderBoard {
    margin-top: 10px;
    margin-bottom: 10px;
}

.incorrectLogin {
    padding-top: 10px;
    color: maroon;
}

@media (min-width: 874px) {
    #signUpDiv{
        margin-left: 100px;
    }
    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 270px;
        height: 100%;
        text-align: center;
        padding: 0px 10px 0px 10px;
        padding-top: 50px;
    }
    main {
        top: 0;
        position: absolute;
        left: 310px;
        margin-left: 50px;
        width: auto;
    }
}

@media (min-width: 1000px) {
    main {
        left: 400px;
    }
}

@media (min-width: 1300px) {
    main {
        left: 500px;
    }
}

.help-block {
    color: red;
    padding: 0;
    margin: 0;
}

.sign-in-form {
    text-align: center;
}

.list-item {
  width: 250px;
  text-align: center;
  display: inline-block;
  margin: 0;
}

.centerText {
    text-align: center;
}

.demo-card-wide.mdl-card {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
@media (min-width: 874px) {
    .demo-card-wide.mdl-card {
        width: 512px;
        margin: 0;
    }
}

.wrong{
    color: red;
}

.correct{
    color: green;
}